.iron-audioplayer{
    display: flex;
    opacity: 1;
    justify-content: center;
    align-items: stretch;
    flex-flow: row wrap;
    box-sizing: border-box;
    background: #eeeeeedb;
    padding: 4rem 0;
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 4px 7px rgba(0,0,0,.24);
    .album-store i{
        margin: 0 !important;
    }
    img{
        box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 4px 7px rgba(0,0,0,.24);
    }
    .player .totalTime{
        display: none;
    }
    .playlist{
        
        display: flex !important;
        /* align-items: center; */
        justify-content: center;
        /* background: #eee; */
        padding: 1rem;
        border-radius: 3px;
        flex-direction: column;
        .sr_it-playlist-title{
            text-transform: uppercase;
            background: unset !important;
            -webkit-text-fill-color: unset !important;
        }

        li{
            list-style: none;
            position: relative;
            clear: both;
            margin: 10px 0;
            display: flex;
            align-items: flex-start;
            flex-wrap: nowrap;
            justify-content: space-between;
            flex-direction: row-reverse;
            background: white;
            text-align: left;
            padding: 1rem;
            box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 4px 7px rgba(0,0,0,.24) !important;
        }
    }
    
}

.album-store .buttons-block{
    background: white;
    margin: 30px auto 30px;
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 4px 7px rgba(0,0,0,.24);
    .available-now{
        padding: 5px;
    }
    .store-list{
        padding: 0;
    }
}

@media (max-width: 991px){
    .iron-audioplayer .playlist{
        padding-left: 16px !important;
    }
}